<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dixi.soft.fx_watcher"
    android:versionCode="4"
    android:versionName="0.2b" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver android:name=".widgets.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:resource="@xml/widget_provider" android:name="android.appwidget.provider"/>
        </receiver>
        <service android:name=".widgets.WidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"></service>
        <activity android:name=".main.UserDataDialogActivity" android:configChanges="keyboard|orientation|screenSize" android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
